
/*Css and mediaquieries for global header with navbar*/

.logo{
    height: 120px;
    padding: 5px 5px;
  
}

#navbar{
    background: white;
    color: black;
    display: flex;
    justify-content: space-around;
    align-items:center;
    width: 100%;
    
 
} 

.nav-list{
    list-style-type: none;

    
}

 .nav-list .list-item{
    display: inline-block;
  
   
} 

#navbar a{
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    padding: 12px;
 
}



#navbar a:hover{
    cursor: pointer;
    color: var(--darkerbrown);
} 




@media only screen and (max-width: 768px){


.nav-list{
    display: none;

}

.nav-list.toggleCls{
    display: block;
}

.hamIcon{
    font-size: 26px;
    font-weight: 900;
    margin-left: 27rem;
    margin-top: -105px;
    padding-bottom: 60px;
}

.hamIcon:hover{
    cursor: pointer;
}

.navbar{
    flex-direction: column;
    position: relative;
}



.logo{
    padding: 5px 5px;
    margin-left: 0;  
  
}


.nav-list{
    list-style-type: none;
    width: 100%;
    background-color: var(--blue);
    text-align: center;
    padding-top: 10px;
    display: none;
}

.nav-list .list-item:hover{
    background-color: #c7cdd45b;
   
 
} 

.nav-list .list-item a:hover{
    color: var(--brown);
}

.nav-list .list-item {
    display: block;
    padding: 10px;
    padding: 10px;

   
}
.nav-list .list-item a{
  
    color: white;
    
   
}

}

@media only screen and (min-width: 769px){
    .hamIcon{
        display: none;
    }

    .nav-list{
        display: initial;
    }
}
   