
.logo{
    height: 160px;
    padding: 20px 20px;
    margin-left: -150px;
     
}

.navbar{
    background: #111;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    height: 150px;
    
}

.nav-list{
    list-style-type: none;
   
    
}

 .nav-list .list-item{
    display: inline-block;
    padding: 20px 10px;
   
} 

.navbar a{
    color: var(--white);
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 25px;
}


.navbar a:hover{
    cursor: pointer;
} 

.toggle-bar{
    display: none;
}
.bar{
    width: 30px;
    height: 4px;
    background-color: white;
    margin-bottom: 4px;
}

@media all and (max-width: 767px){
    .navbar{
        flex-direction: column;
        position: relative;
    }

    .toggle-bar{
        display: block;
        position: absolute;
        right: 15px;
        top:15px
    }

    .logo{
     
        padding: 20px 20px;
        padding: 20px 20px;
        margin-left: 0;
         
       
    }

    .toggle-bar:hover{
        cursor: pointer;
    }

    .nav-list{
        list-style-type: none;
        width: 100%;
        background-color: var(--blue);
        text-align: center;
        padding-top: 10px;
        display: none;
    }

    .nav-list .list-item:hover{
        background-color: #c7cdd45b;
       
     
    } 

    .nav-list .list-item a:hover{
        color: var(--brown);
    }

    .nav-list .list-item {
        display: block;
        padding: 10px;
        padding: 10px;
   
       
    }
    .nav-list .list-item a{
      
        color: white;
        
       
    }

    .active{
        display: block;
    }
}


