/*Global css*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    /*Color palette*/
    --brown: #CC7358; /*copper red*/
    --darkerbrown: #af5034; /*Red-orange*/
    --blue: #3E4F62; /*Police blue*/
    --beige: #F2D4C6; /*Almond*/
 

    /*Fonts*/
  /*   font-family: 'Poppins', sans-serif;   */
   /*  font-family: 'Raleway', sans-serif; */
   font-family: 'Maven Pro', sans-serif;

 
}

body{
     display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height: 100vh;
    flex-direction: column; 
    background: white;
    
}
main{
    width: 100%;
    height: 100vh;
   
} 

/*All css for index.html main*/
.main-container{
    
   /*  position: relative; */
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background:url("/static/images/testt.jpg"); 
    height: 400px;
    background-position: bottom;
    align-items: left;
    padding: 100px 100px;
}


.index h1{

    padding: 10px;
    color: white;
    font-weight: 900;
    

}


.index h2{
  
    color: white;
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;

}

.reference-button{

    display: inline-block;
    width: 170px;
    height: 40px;
    background: var(--darkerbrown);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
}

.reference-button:hover{
    background-color: var(--brown);
}
/* .index h2::before{
    content: '';
    position: absolute;
    top: 135px;
    width: 150px;
    height: 3px;
    background: var(--darkerbrown);
    
}  */ 


  



