/*Global css*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    /*Color palette*/
    --brown: #CC7358; /*copper red*/
    --darkerbrown: #af5034; /*Red-orange*/
    --blue: #3E4F62; /*Police blue*/
    --beige: #d4c9b9; /*Almond*/
 

    /*Fonts*/
  /*   font-family: 'Poppins', sans-serif;   */
    font-family: 'Raleway', sans-serif; 
 /*   font-family: 'Maven Pro', sans-serif; */

 
}

/* body{

    display: flex;
    justify-content: flex-end;
    align-items: center; 
    min-height: 100vh;
     flex-direction: column;  
    background: white; 
    
} */

main{
    width: 100%;
    min-height: 100vh; 
   
} 

/*All css for index.html main*/
.main-container{

    width: 100%;
    display: flex;
    flex-direction: column;
    background:url("/static/images/background.jpg");   
    background-position: 25% 75%;
    -webkit-filter: contrast(120%); 
    filter: contrast(120%);
    opacity: 0.8;
    height: 600px;
    align-items: center;
   
}

.heading-title{

   background-color: #3e4f62b0;
   border-radius: 5px;
   margin-top: 8%;
   padding: 20px;
}

#h1-heading{

    padding: 15px;
    color: white;
    font-size: 42px;
    font-weight: 900;
    position: relative;
    text-transform: uppercase;
    
}


#h2-heading{

    font-size: 20px;
    text-transform: uppercase;
    position: relative;
    padding: 10px;
    color: white;
    font-weight: 500;
    margin-bottom: 15px;
    left:25%;

}

/* #h2-heading::before{

    content: '';
    position: absolute;
    bottom: 18px;
    left:-30px;
    width: 30px;
    height: 4px;
    background: var(--darkerbrown);

} */

.space{
    width: 100%;
    height: 230px;
    background-color: white;
}
.space2{
    width: 100%;
    height: 150px;
    background-color: white;
}


.main-logo{
    height: 250px;
    padding: 10px;
}


.button-wrapper{

    display: table;
    margin: 0 auto;
    padding-bottom: 20px;
}
.reference-button{

    width: 170px;
    height: 40px; 
    background: var(--darkerbrown);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center; 
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 8%;
   
}

.reference-button:hover{
    background-color: var(--brown);
}

.updates-btn{
    display: table;
    margin: 0 auto;
    margin-top:2%;
    width: 130px;
    height: 40px; 
    background: var(--darkerbrown);
    border: none;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
}

.updates-btn:hover{
    background-color: var(--brown);
}


#work-h1{

    margin-top: 10%;
    text-align: center;
    font-size: 36px;
    padding: 20px;
}

.about-container{
 
    display: flex;
    flex-direction: column;
    min-height: 600px;
    align-items: center;
    padding: 35px;
    text-align: center;
}

.about-container > div{
    
    justify-content: center;
    width: 850px;
    padding: 35px;
    border-radius: 2px;
}

.about-p-top{
    display: inline-block;
    max-width: 70%;
 

}


.insta-feed{
   
    background-color: var(--blue);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;  
    align-items: center;
   
    gap:15px;
    padding: 20px;
 
}

.insta-div{
    padding: 30px;
}



#insta-h1{
    
    color: white;
    text-align: center;
    font-size: 36px;
    padding: 20px;

}

.job-estimate{
   
    background: var(--beige);
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 20px 100px;
    height: 600px;
}


.job-estimate h1{
    text-align: center;
    font-size: 36px;
}

.job-estimate h2{
    text-align: center;
    font-size: 36px;
    padding: 20px;
}


.job-form{
  padding: 40px;
  align-items: center;
  text-align: center; 
}

.our_mission{
    width: 100%;
    height: 600px;
    background-color: var(--blue);

}

input[type=text], select, textarea {
    width: 80%; 
    padding: 12px;
    align-items: center;
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical;
    font-family:'Raleway', sans-serif; 
    outline: none;
  }
  input[type=email], select, textarea {
    width: 80%; 
    padding: 12px;
    align-items: center;
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical;
    font-family:'Raleway', sans-serif; 
    outline: none;
  }

input[type=submit]{

    display: table;
    margin: 0 auto;
    margin-top:2%;
    width: 130px;
    height: 40px; 
    background: var(--darkerbrown);
    border: none;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
   
}

input[type=submit]:hover{
    background-color: var(--brown);
}

.ref-gallery{
   
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap ;
    justify-content: center;
    column-gap: 20px;

}

.ref-text{
    text-align: center;
 
}
.ref-text h2{
    font-size: 34px;
    text-transform: uppercase;
}
.ref-text h3{
    font-size: 16px;

}


.ref-text .insta-link li{
    padding-top: 50px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
  
}

.ref-text .insta-link li span:nth-child(1){
    color: black;
    font-size: 20px;
  

}

.ref-text .insta-link li span{
    color: black;

}

.ref-text .insta-link li a{
    padding: 5px;
    color: black;
    text-decoration: none;
}

.ref-text .insta-link li a:hover{
   color: var(--brown);
}



.bottom-links{
  
    padding: 50px;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    column-gap: 40px;
   
}

.bottom-links > div{
  
    background-color: #d4c9b957;
    align-items: center;
    text-align: center;
    border-radius: 2px;

}

.bottom-links img:hover{
   opacity: 0.7;
}

.bottom-links > div p{
    padding: 10px;
    text-align: start;
    width: 350px;
      
}
.bottom-images{
    height: 275px;
    width: 400px;
    border-radius: 2px;
}


.bottom-p-toplink a{
    color: var(--darkerbrown);
    text-decoration: none;
    font-size: 24px;
}

.bottom-p-toplink a:hover{
    text-decoration: underline;
}
.bottom-links > div .bottom-p-link{
   
    text-align: center;
   

}
.bottom-p-link a{
    color: black;
    text-decoration: none;
    text-align: center;
 

}
.bottom-p-link a:hover{
 
    text-decoration: underline;
    color: var(--brown);
}


.links-header{
    width: 100%;
    display: flex;
    flex-direction: row;
    background:url("/static/images/header.jpg");   
    background-position:right; 
    opacity: 0.8; 
    height: 200px;
    align-items: center;
    text-align: center;
    justify-content: center;
    -webkit-filter: grayscale(30%); 
    filter: grayscale(30%);


}

.links-header > div{
    width: 450px;
    height: 100px;
    background-color: #3e4f629c;
    padding: 20px;
}

.links-header h1{
    font-size: 38px;
    font-weight:400;
    color: white;
    text-shadow: 2px 2px black;
 
  
}



.contact-form{
    position: relative;
    background-color: var(--blue);
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 20px 100px;
    height: 600px;
    color: white;
}



.contact-form h1{
    text-align: center;
    font-size: 24px;
    padding: 10px;
 

}
.contact-form h2{
    text-align: center;
    font-size: 24px;
    padding: 20px;

}
.contact-form p{
 
    text-align: center;
    width: 70%;
}
 


/* label {
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: 2px solid black;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
   
}
 
 
 .files {
    opacity: 0;
    position: absolute;
    z-index: -1;
    margin-left: -250px;

 } */



.contact-img{
    
    height: 275px;
    width: 400px;
    opacity: 0.7;
    border-radius: 2px;
}


.bottom-images{
    height: 275px;
    width: 360px;
    border-radius: 2px;
}

.aboutus-start{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.aboutus-start h2{
    padding: 30px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 32px;
   

}

.aboutus-start h3{
    padding: 10px;
    max-width: 40%;
    font-weight:400;
}




.container{
    width: 100%;
    min-height: 1000px;
    text-align: center;
 



}

.aboutus > div{
    width: 100%;
    height: 500px;
   

}

.aboutus{
    display: flex;
    flex-direction: row;
    text-align: center;
    background-color: var(--beige);
  

}

.aboutus h4{
    padding-top: 90px;
 
}
.aboutus p{
    padding: 30px;
    max-width: 70%;
    margin-left: 8rem;
 

}


.about-images{
    width:100%;
    height: 500px;
    opacity: 0.9;
    -webkit-filter: grayscale(50%); /* Safari 6.0 - 9.0 */
    filter: grayscale(50%);
    
} 


@media only screen and (max-width: 768px){

    .heading-title{
        margin-top:30%;
        text-align: center;
        align-items: center;
    }
    #h1-heading{
        font-size: 20px;
        
    }
    #h2-heading{

        font-size: 14px;
        margin-top: -5%;
        left: auto;
  
    }
    
    #h2-heading::before{
    display: none;

    }
    .button-wrapper{
    
        display: table;
        margin: 0 auto
    }
    .reference-button{

        width: 120px;
        height: 30px; 
        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase;
    }

    .job-estimate h1{
        font-size: 24px;
    }

    .job-estimate p{
        font-size: 14px;
        margin-left: 15%;
    }

    .bottom-links{
        flex-direction: column;
    }

    .responsive {
        width: 50%;
        margin: 6px 0;
      }

   
.aboutus{
    flex-direction: column-reverse;
}






    



}


  



