{% extends 'base.html' %}
{% load static %}
{% block content %}

<main>
    <section>
        <div class="links-header">
           <!--  <div>
                <h1>OM OSS</h1>
            </div> -->
        </div>
    </section>
    <section>
        <div class="aboutus-start">
            {% for x in obj %}
            <h2>{{x.title}}</h2><br>
            <h3>{{x.topcontent}}</h3>
        </div>
     <div>
            {% if user.is_authenticated %}
            <button class="updates-btn"><a href="{% url 'update_about1' x.id %}">Uppdatera</a></button>
            {% endif %}
        </div> 
        {% endfor %}
    </section>
    <section>
        <div class="space2">
        </div>
    </section>
    <section>
        <div class="container">
        <div class="aboutus">
            {% for y in obj %}
            <div>
             {% if y.box1_img %}
              <img src="{{ y.box1_img }}" class="about-images">
              {% endif %}
            </div>
            <div>
                <h4>{{y.box1Title}}</h4>
                <p>{{y.box1Des}}</p>
                <div>
                    {% if user.is_authenticated %}
                    <button class="updates-btn-about"><a href="{% url 'update_about2' y.id %}">Uppdatera</a></button>
                    {% endif %}
                </div> 
            </div>
           
            {% endfor %}
        </div>
        <div class="aboutus">
            {% for y in obj %}
            <div>
                <h4>{{y.box2Title}}</h4>
                <p>{{y.box2Des}}</p>
                <div>
                    {% if user.is_authenticated %}
                    <button class="updates-btn-about"><a href="{% url 'update_about3' y.id %}">Uppdatera</a></button>
                    {% endif %}
                </div> 
            </div>
            <div>
                {% if y.box2_img %}
                 <img src="{{ y.box2_img }}" class="about-images">
                 {% endif %}
               </div>
           
            {% endfor %}
        </div>
    </div>
    </section>
    <section>
        <div class="space2">
        </div>
    </section>
    <section>
        <div class="job-estimate">
            <div class="job-form">
                <!--Funkar när webbsidan ligger på en server!-->
                <!--https://formsubmit.co/amandaheikki@hotmail.com-->
         <form id="form" action="https://formsubmit.co/amandaheikki@hotmail.com" method="POST"> 
            {% csrf_token %}
            <h1>Kontakta oss inför ditt nästa projekt!</h1>
            <h2 id="phone"><span><i class="fa fa-phone" aria-hidden="true"></i></span>+46 73 824 91 44<h2> 
                    <input type="hidden" name="_captcha" value="false">
                    <input type="text" class="field"  name="name" placeholder="Namn" required>
                    <input type="email" class="field" name="mail" placeholder="Mejladress" required>
                    <input type="text" class="field" name="phone" placeholder="Mobilnummer">
                    <textarea id="message" name="message" placeholder="Meddelande" re></textarea>
                    <!-- <label for="addFile">Bifoga bild</label>
                    <input type="file" id="addFile" name="addFile" multiple> -->
                  <input type="submit" value="Skicka" id="submit"> 
        </form>
           </div>
    
        </div>
        </section>
        <section>
            <div class="space2">
            </div>
        </section>

</main>

{% endblock content %}