{% extends 'base.html' %}
{% load static %}

{% block content %}
<main>

    <section>
        <div class="links-header">
            <!-- <div>
                 <h1>Kontakt</h1> 
            </div> -->
        </div>
    </section>

<section>
    <div class="aboutus-start">
        <h2>Kontakta oss</h2><br>
        <h3>Kontakta oss gärna för frågor och funderingar<br>Vi återkommer så fort vi kan!<br></h3>
    </div>
</section>
<section>
    <div class="space2">
    </div>
</section>

  <!--Section with job-estimate form-->
<section>
    <div class="contact-form">
        <div class="contact-inf">
            <h2>Vi har många år inom branschen</h2>
            <img src="{% static 'images/woodwork1.jpg' %}" alt="" class="bottom-images">
            <p>Kontakta oss för frågor eller offerter så återkommer vi fortast möjliga!</p>
        </div>
    <div>
     <form id="form" action="https://formsubmit.co/amandaheikki@hotmail.com" method="POST"> 
        {% csrf_token %}
                <h1>Kontakta oss inför ditt nästa projekt!</h1>
                <h2><span><i class="fa fa-phone" aria-hidden="true"></i></span>+46 73 824 91 44<h2> 
                <input type="hidden" name="_captcha" value="false">
                <input type="text" class="field"  name="name" placeholder="Namn" required>
                <input type="email" class="field" name="mail" placeholder="Mejladress" required>
                <input type="text" class="field" name="phone" placeholder="Mobilnummer">
                <textarea id="message" name="message" placeholder="Meddelande" re></textarea>
                <!-- <label for="addFile">Bifoga bild</label>
                <input type="file" id="addFile" name="addFile" multiple> -->
              <input type="submit" value="Skicka" id="submit"> 
    </form>
    </div>

    </div>

</section>
<section>
    <div class="space2">
    </div>
</section>
</main>

{% endblock content %}