{% load static %}
<footer>
    
 <div class="footer-container">
     <div class="about about-us">
         <h2 id="h2-footer">Om oss</h2>
         <p id="p-aboutus">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Aenean risus lorem, euismod sed volutpat non, ultricies nec est.
            Aliquam mattis ligula a congue ornare. 
         <ul class="social">
            <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
        </ul>

     </div>
     <div class="about links">
         <h2 id="h2-footer">Länkar</h2>
         <ul>
            <li><a href="{% url 'index' %}">Hem</a></li>
            <li><a href="{% url 'faq' %}">Vanliga frågor</a></li>
            <li><a href="{% url 'about' %}">Om oss</a></li>
            <li><a href="{% url 'references' %}">Referenser</a></li>
            <li><a href="{% url 'services' %}">Tjänster</a></li>

        </ul>
     </div>
    <div class="about contact">
        <h2 id="h2-footer">Hitta till oss</h2>
        <ul class="info">
            <li>
                <span><i class="fa fa-map-marker" aria-hidden="true"></i></span><br>
                <span>Östanbäcksvägen 67<br>
                    818 92 Valbo</span> <br>
            </li>
            <li> 
                <span><i class="fa fa-phone" aria-hidden="true"></i></span><br>
                <p><a href="tel:+0738249144">+46 73 824 91 44</a></p><br>
            </li>
            <li> 
                <span><i class="fa fa-envelope" aria-hidden="true"></i></span><br>
                <p><a href="mailto:ostanback@mail.com">ostanback@mail.com</a></p>
            </li>
                   

        </ul>
    </div>
 </div> 
</footer> 
<div class="copyright">
    <p>© 2022 Östanbäcks generationsbyggen AB</p>
</div> 
  
   
