{% extends 'base.html' %}
{% load static %}
{% block content %}


<main>
   <section>
    <div class="main-container">
        <div class="heading-title">
            <h1 id="h1-heading">Östanbäcks generationsbyggen</h1>
         <h2 id="h2-heading">Kompetens & trygghet i generationer</h2> 
     <div class="button-wrapper">
         <a href="{% url 'references' %}" type="button" class="reference-button">Se tidigare projekt!</a>
    </div>
    </div>
    </div>
</section>

<!--Section with quick facts about company-->
<section>
    <div class="about-container">
    {% for x in obj %}
    <div>
    <h1>{{x.title}}</h1>
    </div>
    <a href="{% url 'index' %}"><img class="main-logo" src="{% static 'images/logo-small.png' %}" alt=""></a>
    <div>
    <h2>{{x.content}}</h2>
    </div>
    <div>
        {% if user.is_authenticated %}
        <button class="updates-btn"><a href="{% url 'update' x.id %}">Uppdatera</a></button>
        {% endif %}
    </div>
    {% endfor %}
    </div>
</section>

<!--Section with companys instagram-feed-->
<section>
    <div class="insta-feed">
        <h1 id="insta-h1">Följ vårt arbete</h1>
        <div data-behold-id="E1JHsZKAxeEz9OLkfvDI" class="insta-div"></div>
        <script src="https://widgets.behold.so/ig.js" defer></script>
    </div>
  
</section>

<section>
    <div class="space">
    </div>
</section>

<section>

  <div class="bottom-links">
    {% for y in obj %}
      <div>
        {% if y.about_img %}
          <a href="{% url 'about' %}"><img src="{{ y.about_img }}" alt="" class="bottom-images"></a>
          {% endif%}
        <div>
          <p class="bottom-p-toplink"><a href="{% url 'about' %}">Om oss</a></p>
          <p>{{y.about}}</p>
          <p class="bottom-p-link"><a href="{% url 'about' %}">Läs mer</a></p>
          <div>
            {% if user.is_authenticated %}
            <button class="updates-btn"><a href="{% url 'updatecontent' y.id %}">Uppdatera</a></button>
            {% endif %}
        </div>
        </div>
      </div>
      <div>
        {% if y.contact_img %}
        <a href="{% url 'contact' %}"><img src="{{y.contact_img}}"  alt=""  class="bottom-images"></a>
        {% endif %}
        <div>
          <p class="bottom-p-toplink"><a href="{% url 'contact' %}">Kontakt</a></p>
          <p>{{y.contact}}</p>
          <p class="bottom-p-link"><a href="{% url 'contact' %}">Läs mer</a></p>
          <div>
            {% if user.is_authenticated %}
            <button class="updates-btn"><a href="{% url 'updatecontent2' y.id %}">Uppdatera</a></button>
            {% endif %}
        </div>
        </div>
      </div>
      <div>
        {% if y.services_img %}
          <a href="{% url 'services' %}"><img src="{{y.services_img}}"  alt=""  class="bottom-images"></a>
        {% endif %}
        <div>
          <p class="bottom-p-toplink"><a href="{% url 'services' %}">Tjänster</a></p>
          <p>{{y.services}}</p>
          <p class="bottom-p-link"><a href="{% url 'services' %}">Läs mer</a></p>
        </div>
        <div>
          {% if user.is_authenticated %}
          <button class="updates-btn"><a href="{% url 'updatecontent3' y.id %}">Uppdatera</a></button>
          {% endif %}
      </div>

      </div>
      {% endfor %}
</div>
  
  </section>


<section>
    <div class="space">
    </div>
</section>

<!--Section with job-estimate form-->
<section>
    <div class="job-estimate">
        <div class="job-form">
            <!--Funkar när webbsidan ligger på en server!-->
            <!--https://formsubmit.co/amandaheikki@hotmail.com-->
     <form id="form" action="https://formsubmit.co/amandaheikki@hotmail.com" method="POST"> 
        {% csrf_token %}
        <h1>Kontakta oss inför ditt nästa projekt!</h1>
        <h2 id="phone"><span><i class="fa fa-phone" aria-hidden="true"></i></span>+46 73 824 91 44<h2> 
                <input type="hidden" name="_captcha" value="false">
                <input type="text" class="field"  name="name" placeholder="Namn" required>
                <input type="email" class="field" name="mail" placeholder="Mejladress" required>
                <input type="text" class="field" name="phone" placeholder="Mobilnummer">
                <textarea id="message" name="message" placeholder="Meddelande" re></textarea>
                <!-- <label for="addFile">Bifoga bild</label>
                <input type="file" id="addFile" name="addFile" multiple> -->
              <input type="submit" value="Skicka" id="submit"> 
    </form>
       </div>

    </div>
    </section>

<section>
    <div class="space">
    </div>
</section>
</main>
{% endblock content %}
