<nav class="navbar">
    <div class="company_title">Östanbäcks generationsbyggen</div>
    <a href="#" class="toggle-button">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </a>
    <div class="navbar-links">
        <ul>
            <li><a href="{% url 'index' %}">Hem</a></li>
            <li><a href="{% url 'about' %}">Om oss</a></li>
            <li><a href="{% url 'contact' %}">Kontakt</a></li>
            <li><a href="{% url 'references' %}">Tidigare projekt</a></li>
        </ul>
    </div>
</nav>