{% load static %}
<nav class="navbar">
        <div class="company-logo">
            <a href="{% url 'index' %}"><img class="logo" src="{% static 'images/logo-small.png' %}" alt=""></a>
        </div>
            <ul class="nav-list" id="navigation-list">
                <li class="list-item"><a href="{% url 'about' %}">Om oss</a></li>
                <li class="list-item"><a href="{% url 'contact' %}">Kontakt</a></li> 
                <li class="list-item"><a href="{% url 'references' %}">Tidigare projekt</a></li>
                <li class="list-item"><a href="{% url 'services' %}">Tjänster</a></li>
            </ul>
            <div class="toggle-bar" id="toggle-btn">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
 </nav>

