{% extends 'base.html' %}
{% load static %}

{% block content %}
<main>
  <section>
    <div class="links-header">
        <!-- <div>
             <h1>Kontakt</h1> 
        </div> -->
    </div>
</section>

<section>
<div class="aboutus-start">
    <h2>Tidigare projekt</h2><br>
    <h3>Ta del av några av våra tidigare projekt</h3>
</div>
</section>
<section>
  <div class="ref-gallery">
    {% for x in add_img %}
      <div class="box">
       
        <ul>
          <li><img src="{{ x.image.url }}" alt="" class="ref-images"></li>
          <li>{{ x.caption }}</li>
          {% if user.is_authenticated %}
          <li><button class="updates-btn">Uppdatera</button></li>
          {% endif %}
        </ul>
      </div> 
      {% endfor %}
    </div>
     
</section>
 
<section>
    <div class="ref-text">
      <ul class="insta-link">
        <li>
        <span><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></span><br>
        <span>För fler bilder följ oss på instagram också!</span> 
      </li>
      </ul>
    </span>
    </div>
  </section>


  <section>
    <div class="space2">
    </div>
</section>

</main>


{% endblock content %}