{% extends 'base.html' %}
{% load static %}

{% block content %}
<main>
  <section>
    <div class="links-header">
        <!-- <div>
             <h1>Kontakt</h1> 
        </div> -->
    </div>
</section>

<section>
<div class="aboutus-start">
    <h2>Tidigare projekt</h2><br>
    <h3>Ta del av några av våra tidigare projekt</h3>
</div>
</section>

<section>
 
  <div class="ref-gallery">
 
      <div>
        {% for x in images %}
        <tr>
          {% if x.image %}
          <td><img src="{{ x.image.url }}}" alt="" class="bottom-images"></td>
          {% else %}
          <td>{{ x.description}}</td>
          {% endif %}
        </tr>
      </div>
      <div>
        {% if user.is_authenticated %}
        <button class="updates-btn"><a href="{% url 'add_ref_image' %}">Uppdatera</a></button>
        {% endif %}
        {% endfor %}
    </div> 
    </div>
    <div class="ref-text">
      <ul class="insta-link">
        <li>
        <span><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></span><br>
        <span>För fler bilder följ oss på instagram också!</span> 
      </li>
      </ul>
    </span>
    </div>
  </section>


  <section>
    <div class="space2">
    </div>
</section>

</main>


{% endblock content %}