{% extends 'base.html' %}
{% load static %}

{% block content %}
<main>
  <section>
    <div class="links-header">
      <hr>
    </div>
</section>

<section>
  <div class="aboutus-start">
      <h2>REFERENSER</h2>

  </div>

</section>


<!-- <section>
  <div class="ref-gallery">
    {% for i in img %}
      <div class="box">
       
        <ul>
          <li><img src="{{i.image.url}}" alt="" class="ref-images"></li>
          <li>{{i.caption}}</li>
        </ul>
     
      </div> 
     
    </div>
    {% endfor %}
    <div>
    {% if user.is_authenticated %}
    <h1>Ladda upp referensbild</h1>
<form method="POST" enctype="multipart/form-data">
     {% csrf_token %}
     {{form.as_p}}
      <hr>
     <button type="submit">Bekräfta</button>
     <button><a href="{% url 'references' %}">Avbryt</a></button>
</form>
</div>

     {% endif %} 
 
</section> -->
 
<section>
    <div class="ref-text">
      <ul class="insta-link">
        <li>
        <span><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></span><br>
        <span>Följ oss på instagram också!</span> 
      </li>
      </ul>
    </span>
    </div>
  </section>


  <section>
    <div class="space2">
    </div>
</section>

</main>


{% endblock content %}