{% extends 'base.html' %}
{% load static %}

{% block content %}
<main>
    <section>
        <div class="links-header">
        </div>
    </section>
    
    <section>
    <div class="aboutus-start">
        <h2>Tjänster</h2><br>
        <h3>Läs mer om vad vi jobbar med och vad vi kan erbjuda dig som kund!</h3>
    </div>
    </section>
    <section>
        <div class="space2">
        </div>
    </section>
    <section>
        <div class="container">
        <div class="aboutus">
            <div>
              <img src="{% static 'images/about1.jpg' %}" class="about-images">
            </div>
            <div>
                <h4>Nedan följer några exempel på vad vi kan göra för dig:</h4>
           
                    <ul class="service-lst">
                        <li><i class="fa fa-check" aria-hidden="true"></i>Ombyggnation</li>
                        <li><i class="fa fa-check" aria-hidden="true"></i>Tillbyggnader</li>
                        <li><i class="fa fa-check" aria-hidden="true"></i>Renoveringar</li>
                        <li><i class="fa fa-check" aria-hidden="true"></i>Takbyten</li>
                        <li><i class="fa fa-check" aria-hidden="true"></i>Altanbyggen</li>
                    </ul>
            </div>
        </div>
        <div class="aboutus">
            <div>
                <h4>Trygghet, kunskap och personlighet</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Aenean risus lorem, euismod sed volutpat non, ultricies nec est.
                    Aliquam mattis ligula a congue ornare.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Aenean risus lorem, euismod sed volutpat non, ultricies nec est.
                    Aliquam mattis ligula a congue ornare.</p>
            </div>
            <div>
               <img src="{% static 'images/about2.jpg' %}" class="about-images"> 
            </div>
        
        </div>
    </div>
    </section>
    <section>
        <div class="space2">
        </div>
    </section>
    <section>
        <div class="job-estimate">
            <div class="job-form">
                <!--Funkar när webbsidan ligger på en server!-->
                <!--https://formsubmit.co/amandaheikki@hotmail.com-->
         <form id="form" action="https://formsubmit.co/amandaheikki@hotmail.com" method="POST"> 
            {% csrf_token %}
            <h1>Kontakta oss inför ditt nästa projekt!</h1>
            <h2><span><i class="fa fa-phone" aria-hidden="true"></i></span>+46 73 824 91 44<h2> 
                    <input type="hidden" name="_captcha" value="false">
                    <input type="text" class="field"  name="name" placeholder="Namn" required>
                    <input type="email" class="field" name="mail" placeholder="Mejladress" required>
                    <input type="text" class="field" name="phone" placeholder="Mobilnummer">
                    <textarea id="message" name="message" placeholder="Meddelande" re></textarea>
                    <!-- <label for="addFile">Bifoga bild</label>
                    <input type="file" id="addFile" name="addFile" multiple> -->
                  <input type="submit" value="Skicka" id="submit"> 
        </form>
           </div>
    
        </div>
        </section>
        <section>
            <div class="space2">
            </div>
        </section>
</main>
{% endblock content %}